/*
.project {
  margin-top: 20px;
  padding: 10px 20px;
  border: 2px solid #ff7272;
  width: 60%;
  height: 25vh;
}


 .project:nth-child(even) {

  position: relative;
  left: 40%;
}

.project:nth-last-child(1){
    margin-bottom: 20px;
} */


.project {
  border: 2px solid #ff7272;
  position: relative;
}


.projectinfo{
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center; 
  font-size: 150%;
}

.projectimg {
  opacity: 1;
  display: block;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.project:hover .projectimg{
  opacity: 0.3;
}

.project:hover .projectinfo{
  opacity: 1;
}

