.project {
  margin-top: 20px;
  padding: 10px 20px;
  border: 2px solid #ff7272;
  width: 60%;
  height: 25vh;
}

.project:nth-child(even) {
  position: relative;
  left: 40%;
}

.project:nth-last-child(1){

    margin-bottom: 20px;
}
