/* .App-header {
  background-color: #FF7272;
  height: 15vmin; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
 */


.intro {
  height: 100vh;
  background-color: #FF7272;
  color: white;
}

#logo{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: fill-anim 0.5s ease forwards 3s;
}

#logo path{
  stroke-dasharray: 800px; 
  stroke-dashoffset: 800px; 
  animation: line-anim 3s ease forwards 0.5s;
}

.info{
  text-align: center;
  padding: 30px;
  position: absolute;
  visibility: hidden;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -60%);
  border: 2px solid wheat;
  animation: visibility-anim 1s ease forwards 3s;
  width:600px;  
}

.content{
  color: #FF7272;
  background-color: white;
  height: 100%;
 /*  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
  border: 2px solid wheat;
  padding: 20px;
  animation: visibility-anim 1s ease forwards 3.5s; */
}

@keyframes line-anim{
  to{
      stroke-dashoffset: 0;
  }
}

@keyframes fill-anim {
  from {
      fill: transparent;
  }
  to {
      fill: white;
      top: 25%;
      width: 600px;
  }
}

@keyframes visibility-anim {
  to{
    visibility: visible;
  }
}


.pointer {
  position:absolute;
  font-size: 5vh; 
  text-decoration: none;
  left: 50%;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

.south{
  top: 93%;  
  animation-name: bobbSouth;
}

@keyframes bobbSouth{
  0%   {color:orange; top:90%;}
25%  {color:yellow; top: 93%;}
50%  {color:blue; top:90%;}
75%  {color:green; top:93%;}
100% {color:red; top:90%;}
}

.heading{
  text-align: center;
  padding: 10px;
}

.contact {
  height: 10vh;
  background-color: white;
  /* background-color: #FF7272; */
  text-align: center;
  padding-top: 10px;
}

.projects{
  height: 25vh;
}


.contact > a {
  padding: 10px;
}

#linkedin {
  width: 32px;
}